*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(to right, #0096bb 50%, white 50%);
    justify-content: center;
    align-items: center;
}
#img-centro{
    width: 50%;
    height: auto;
}

.setas{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.left{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left img{
    width: 50%;
    height: 50%;
}
.top-bottom{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.top-bottom img{
    width: 50%;
    height: 50%;
}
.right{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right img{
    width: 50%;
    height: 50%;
}
#top{
    rotate: 90deg;
}
#bottom{
    rotate: -90deg;
}

#right-img{
    rotate: -180deg;
}
