*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(150deg,#0096bb,#51d1f1);
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    
    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;

   
}
p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: black;
    padding-right:1em;
    padding-left: 1em;
   

}
img{
    width: 60%;
    height: 40vh;
    border: 2px solid #0096bb;
    border-radius: 5px;
}
h1{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: white;
    padding-right:1em;
    padding-left: 1em;
 
}