*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#0096bb;
    
    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}
#direita img{
    width: 90%;
    height: 70vh;
}

p{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: white;
    padding-right:1.5em;
    padding-left: 1.5em;
    line-height: 20pt;
 
}
#palavra{
    color:rgb(175, 56, 56);
}
/* RESPONSIVIDADE TELAS PEQUENAS */
@media screen and (min-width: 600px) and (max-width: 1024px){
    #home{
        flex-direction: column;
    }
    #esquerda{
        width:100%;
        height: 50vh;
        
    }
    #direita{
        width:100%;
        height: 50vh;
    }
    p{
        font-size: 15px;
        line-height: 15pt;
    
     }
     #direita img{
        width: 60%;
        height: 40vh;
     }
 
}
/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 590px) {
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
     p{
        font-size: 10px;
        line-height: 10pt;
     }
     #direita img{
        width: 80%;
        height: 40vh;
     }
 
 
}