*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
}
#direita{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(180deg,#0096bb, #51d1f1);
}

#esquerda{
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #1684a0;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.textos{
   
    display: flex;
    width: 40%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textos-2{
   
    display: flex;
    width: 40%;
    height: 40vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   
}

.textos p{
    
    padding: 5px;
    text-align: justify;
    color:white;   
    font-size: 13px;
   background-color:#1684a0;
   border:3px solid #51d1f1;
   font-family: 'Open Sans', sans-serif;
   border-radius: 10px;
}
.textos-2 p{
    padding: 5px;
    text-align: justify;
    color: white;
    font-size: 13px;
    border: 1px solid white;
    background-color:  #1684a0;
    border:3px solid #51d1f1;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;

}
@keyframes text-pisca {
	0% { opacity: 0; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
.text-pisca {
	color:white;
	-webkit-text-stroke:1px #51d1f1;
	display: inline-block;
	text-decoration: none;
	font-size: 25px;
	-webkit-animation: text-pisca .7s linear infinite;
	-moz-animation: text-pisca .7s linear infinite;
	-ms-animation: text-pisca .7s linear infinite;
	-o-animation: text-pisca .7s linear infinite;
	animation: text-pisca .7s linear infinite;
}
#esquerda img{
    width: 70%;
    height: 70vh;
    border-radius: 10px;
    border:1px solid #51d1f1;
}
input{
    display: none;
}
/* #item-1{
    visibility: hidden;
}
 */
#item-2{
    visibility: hidden;
}
#item-3{
    visibility: hidden;
}
#item-4{
    visibility: hidden;
}


#check1:checked ~ #item-2{
    visibility: visible;
}
#check2:checked ~ #item-4{
    visibility: visible;
}
#check4:checked ~ #item-3{
    visibility: visible;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.textos img{
    width: 30%;
    height: auto;
}
.textos-2 img{
    width:30%;
    height: auto;
}
#vertical1{
    rotate:90deg;
}
#horizontal1{
    rotate:180deg;
}
#vertical2{
    rotate:270deg;
}


/* RESPONSIVIDADE TELAS PEQUENAS */
@media screen and (min-width: 768px) and (max-width:1024px){
   
    #container{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
    #esquerda img{
        width: 35%;
        height: 35vh;
    }
    .textos{
        width: 48%;
        height: 20vh;
    }
    .textos-2{
        width: 48%;
        height: 20vh;
    }
    .textos-2 p{
        font-size: 10px;
    }
    .textos p{
        font-size: 10px;
    }
    .textos img{
        width: 15%;
        height: auto;
    }
    .textos-2 img{
        width:15%;
        height: auto;
    }
    h1{
        font-size: 17px;
    }
 
    }
/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 767px) {
    #container{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
    #esquerda img{
        width: 50%;
        height: 30vh;
    }
    .textos{
        width: 45%;
        height: 20vh;
    }
    .textos-2{
        width: 45%;
        height: 20vh;
    }
    .textos-2 p{
        font-size: 8px;
    }
    .textos p{
        font-size:8px;
    }
    .textos img{
        width: 20%;
        height: auto;
    }
    .textos-2 img{
        width:20%;
        height: auto;
    }
    h1{
        font-size: 13px;
    }
 
}