*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#51d1f1;

    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color:#cdf2fc;
   
}