*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1684a0;
   
}
ul {
    list-style: none;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

  }
  #direita img{
    width: 90%;
    height: 40vh;
    border-radius: 10px;
   
  } 
  #esquerda img{
    width: 90%;
    height: 40vh;
    border-radius: 10px;
   
  }
  p{
    text-align: justify;
    font-size: 18px;
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    font-family: 'Open Sans', sans-serif;
  }

  li {
    position: relative;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;

  }
  li a {
    
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #000;
  }

  .funil{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  
  /* Definir estilos para os submenus */
   ul ul {
    width: 100%;
    height: 100%;
    display: none;
  }

  input{
    display: none;
  } 


  #ckb1:checked ~ #sub-ckb1{
    display: block;
  }
  #ckb2:checked ~ #sub-ckb2{
    display: block;
  }
  #ckb3:checked ~ #sub-ckb3{
    display: block;
  }

  /* Estilizar os submenus */
  #funil-1 li {
    color: #000;
    width: 100%;
    height: 70%;
    background-color: #1684a0;
    border: 1px solid #51d1f1;
    border-radius: 10px;
  }
  #funil-2 li {
    color: #000;
    width: 100%;
    height: 70%;
    background-color:#51d1f1;
    border-radius: 10px;
    border: 1px solid #1684a0;
  }
  #funil-3 li {
    color: #000;
    width: 100%;
    height: 70%;
    background-color:#51d1f1;
    border-radius: 10px;
    border: 1px solid #1684a0;
  }


/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 590px) {
  #home{
      flex-direction: column;
      scale:0.85;
  }

  
  #esquerda{
      width: 100%;
      height: 50vh;
      
  }
  #direita{
      width: 100%;
      height: 50vh;
  }
   p{
      font-size: 10px;

   }
   #direita img{
    width: 40%;
    height: 30%;
 
  } 
  #esquerda img{
    width: 40%;
    height: 30%;

  }
  
 
}