*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #cdf2fc;
    
    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(150deg,#0096bb,#1684a0);
   
}

table, th, td {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border: 1px solid;
    border-color: #1684a0;
    padding: 2px;
  }
table {
    width: 95%;
    height: 50vh;
    border-collapse: collapse;
    
} 


.texto-clique{
    width:90%;
    height: 30%;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: left;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-top: 2em;
    
  
}


.texto-resposta{

    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: justify;
    font-size: 15px;
    color: rgb(5, 0, 0);
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#cor{
    width: 80%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#51d1f1;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(5, 0, 0);
    padding-left: 1.5em;
    padding-right: 1.5em;
    justify-content: justify;
    text-align: justify;
    
}
/* CLIQUE */
#texto{
display: flex;

}

.hidden{
    display: none;

}

.check{
    display: none;
}

#ckb:checked ~ #texto-1{
    display: block;
}

label{
    width: 30%;
    height: 30%;
    padding-top: 1em; 
    padding-right: 2em;
   
}

 
label img{
    width: 100%;
    height: auto;
}

/* TELAS PEQUENAS */
@media screen and (max-width: 1024px) {
	
}


/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (max-width: 768px) {
	#home{
        flex-direction: column;
    
    }
    #direita{
        width: 100%;
        height: 50vh;
       
    }
    #esquerda{
        width: 100%;
        height: 50vh;
    }
    #cor{
        width: 90%;
        height: 40vh;
        scale: 0.85;
     
    }
    p{
        font-size: 10px;
    }
 
}
