*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
     background: linear-gradient(to right, #0096bb 50%, white 50%); 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}
#img-centro{
    width: 40%;
    height: auto;
}

.setas{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.left{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.img-box{
	width: 40%;
    height: auto; 
	position: relative;
}
.img-box img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
	
 
}
.top-bottom{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
  
}
.top-bottom img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
	
  
}
.right{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
}
.right img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
	 
  
}
#top{
    rotate: 90deg;
}
#bottom{
    rotate: -90deg;
}

#right-img{
    rotate: -180deg;
}

.info-texto{
	width: 80%;
	height: 20%;
	background-color: black;
	opacity: .8;
	color: white;
	position: inherit;
	text-align: justify;
  

}

.info-texto p{
	padding: 0.5em;
  font-size: 13px;
}


label{
	
	color: white;
	display: flex;
	justify-content: flex-end;

}
label i{
	padding: 10px;
	cursor: pointer;
}

.ckeck{
	display: none;
}

.info-texto{
	display: none;
}

#fechar1:checked ~ #info1{
	display: block;
}
#fechar2:checked ~ #info2{
	display: block;
}
#fechar3:checked ~ #info3{
	display: block;
}
#fechar4:checked ~ #info4{
	display: block;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
     }
 }