*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#51d1f1;

    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
   
}
p{
    font-family: 'Open Sans', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 18px;
    text-align: justify;
    color: black;
}
#direita img{
    padding-top: 0.5em;
    width: 60%;
    height: 50vh;
    border-radius: 10px 10px;
}
h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 0.5em;
  
}

  /* RESPONSIVIDADE TELAS PEQUENAS */
  @media screen and (min-width: 600px) and (max-width: 1024px){
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
   
    }
     #direita img{
        width: 40%;
        height: 30vh;
    }
    p{
        font-size: 12px;
    }
   h1{
    font-size: 16px;
   }
    
}
/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 590px) {
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
   
     #direita img{
    
        width: 60%;
        height: 30vh;
    }
    p{
        font-size: 10px;
    }
    h1{
        font-size: 15px;
    }
 
}